@using Mission08_Team0215.Models;

@{
    ViewData["Title"] = "Home Page";
    var categories = ViewBag.Category as List<Category>;
}

@model Mission08_Team0215.Models.UserTask


<h1 style="text-align:center">Task Form</h1>

<form method="post">
    <div class="form-check">
        <input type="hidden" asp-for="TaskId" />

        <label asp-for="TaskName">Task</label>
        <br />
        <input asp-for="TaskName" />
    </div>

    <br />

    <div class="form-check">
        <label asp-for="DueDate">Due Date</label>
        <br />
        <input asp-for="DueDate" />
    </div>

    <br />

    <div class="form-check">
        <label asp-for="Quadrant">Quadrant</label>
        <br />
        <input asp-for="Quadrant" />
    </div>

    <br />

    <div class="form-check">
        <label asp-for="Category">Category</label>
        <br />
        <select asp-for="CategoryId">
            <option value="Select a Category"></option>
            @foreach (var c in categories)
            {
                <option value="@c.CategoryId" asp-for="CategoryId">@c.CategoryName</option>
                //uses Viewbag here to pass information from controller to views
            }
        </select>
    </div>

    <br>

    <div class="form-check">
        <label asp-for="Completed">Completed?</label>
        <br />
        <input asp-for="Completed" />
        
        <br /><br />

        <button class="btn btn-success" type="submit">Submit</button>
    </div>



</form>
