@using Mission08_Team0215.Models;

@{
    ViewData["Title"] = "Task Form";
}

@model UserTask



<h1 style="text-align:center">Task Form</h1>

<form method="post">
    <div class="form-check">
        <input type="hidden" asp-for="TaskId" />

        <label asp-for="TaskName">Task</label>
        <br />
        <input asp-for="TaskName" />
    </div>

    <br />

    <div class="form-check">
        <label asp-for="DueDate">Due Date</label>
        <br />
        <input asp-for="DueDate" />
    </div>

    <br />

    <div class="form-check">
        <label asp-for="Quadrant">Quadrant</label>
        <br />
        <select asp-for="Quadrant">
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
        </select>
    </div>

    <br />

    <div class="form-check">
        <label asp-for="CategoryId">Category</label>
        <br />
        <select asp-for="CategoryId">
            <option value="">-- Select Category --</option>
            @foreach (Category c in ViewBag.Category)
            {
                <option value="@c.CategoryId">@c.CategoryName</option>
            }
        </select>
    </div>

    <br>

    <div class="form-check">
        <label asp-for="Completed">Completed?</label>
        <br />
        <select asp-for="Completed">
            <option value=1>Yes</option>
            <option value=0>No</option>
        </select>
    </div>
        
        <br /><br />

        <button class="btn btn-success" type="submit">Submit</button>

        <div asp-validation-summary="All"></div>

</form>
